.header {
    background-color: #000000;
    height: 80px;
}

.header_inner {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.register_title {
    font-size: 36px;
    text-align: center;
}

.form {
    max-width: 680px;
    width: 100%;
    margin: 0 auto;
}

.form_group-label {
    font-size: 24px;
    font-weight: 700;
}

.form__group-content input{
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
}

.form_button {
    background-color: #000000;
    height: 60px;display: flex;
    justify-content: center;
    align-items: center;
}

.form_button-submit {
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}

.login__link {
    text-align: center;
    margin-top: 20px;
}

.login__button-submit {
    color: #0073CC;
    text-decoration: none;
}